Library/
Temp/
UnityVS/
BetterShaders/
BetterShaders.meta
UnityVS.meta
*.csproj
*.sln
*.suo
*.suo
UMAProject/ProjectSettings/ClusterInputManager.asset

UMAProject/ProjectSettings/GraphicsSettings.asset

UMAProject/ProjectSettings/GraphicsSettings.asset

UMAProject/ProjectSettings/ProjectSettings.asset

UMAProject/ProjectSettings/ProjectSettings.asset

UMAProject/ProjectSettings/ProjectVersion.txt

UMAProject/ProjectSettings/UnityAdsSettings.asset

UMAProject/ProjectSettings/UnityConnectSettings.asset
obj
UMAProject/Assets/Plugins/Editor/ScriptInspector3/
UMA Core Demo - Crowd.meta
UMAProject/Assets/UMA/Examples/Main Examples/Scenes/UMA Core Demo - Crowd
UMA DCS Demo - Simple Setup
UMAProject/ProjectSettings/GraphicsSettings.asset
UMAProject/ProjectSettings/GraphicsSettings.asset

UMAProject/Assets/Obi/
UMAProject/Assets/Gizmos/
UMAProject/Assets/Editor default resources/Obi/
UMAProject/Assets/Editor default resources/Obi.meta
UMAProject/Assets/Gizmos.meta
UMAProject/Assets/Obi.meta
UMAProject/Assets/Editor default resources.meta
UMAProject/Assets/AssetStoreTools
UMAProject/Assets/AssetStoreTools.meta
UMAProject/.vs
UMAProject/Assets/Temp.meta
