Temp/
Temp.meta
Tasks/
Tasks.meta
UMA2/
UMA2.meta
UMA3/
UMA3.meta
Settings/
Settings.meta
SRP/*
!SRP/UMAURP.unitypackage
!SRP/UMAURP.unitypackage.meta
!SRP/UMAHDRP.unitypackage
!SRP/UMAHDRP.unitypackage.meta
**/Generated*/
**/painter_recovery*
*.user
*.suo
*~
**/.DS_Store
**/.png
